<h1>Application for asking something to our coach</h1>

<fieldset>
  <legend>A question</legend>
  <form method="GET" action="/answer">
    <input type="text" name="answer">
    <input type="submit" value="Ask!">
  </form>
</fieldset>


